.faq-list {
    margin: 20px 0;
}
.faq-item {
    border-bottom: 1px dashed #8a8787;
    padding: 10px 0;
}
.faq-question {
    cursor: pointer;
    font-weight: bold;
}
.faq-answer {
    margin-top: 10px;
}

.faq-question-container {
    cursor: pointer;
    padding: 10px 0;

}

.icon-wrapper {
  position: relative;
  width: 16px; /* keep same space */
  height: 16px;
}

.toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toggle-icon.plus {
  opacity: 1; /* default visible */
}

.icon-wrapper.open .plus {
  opacity: 0;
  transform: rotate(90deg);
}

.icon-wrapper.open .minus {
  opacity: 1;
  transform: rotate(180deg);
}

